- if user_signed_in?
  = link_to "ログアウト", destroy_user_session_path, method: :delete
  = link_to "購入履歴", orders_path
- else
  = link_to "新規登録", new_user_registration_path
  = link_to "ログイン", new_user_session_path

%h1 ユーザー覧画面

%table
  %thead
    %tr
      %th Name
      %th Email
      %th Zipcode
      %th Prefecture
      %th Adress
      %th

  %tbody
    - @users.each do |user|  
      %tr
        %td= user.name
        %td= user.email
        %td= user.zipcode
        %td= user.prefecture
        %td= user.address
        %td= link_to '詳細', edit_user_registration_path(user)

