%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Price:
  = "#{@product.price}円"
%p
  %b Description:
  = @product.description

= link_to '購入', new_order_path(product_id: @product.id)

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
